#featured {
  grid-area: featured;

  img {
    height: 100%;
    object-fit: cover;
  }
  
  .card {  
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    /*'&' equivale a 'this element'*/
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    figcaption {
      position: absolute;
      bottom: 0;
      padding: 24px;

      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}

section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

  a {
    justify-self: end; 
     display: flex;
     align-items: center;
     gap: 4px;
  }
}

#weekly {
  grid-area: weekly;

  &>div {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 24px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p{
      margin-top: 8px;
    }
  }

  img {
    height: 160px;
    object-fit: cover;
  }
}

#ai {
  grid-area: ai;

  img {
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  h3 {
    margin-block: 8px 4px;
  }

  p {
    color: var(--text-color-secondary)
  }

}

#ads {
  width: 100%;
  object-fit: cover;
}

#more {
  grid-area: aside;
  margin-top: 32px;

  h3 {
    margin-top: 8px
  }

  img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
